@import "../../config";

button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid $color-dark;
  border-radius: 4px;
  color: white;
  margin: 0 10px;
  padding: 8px 12px;

  &:hover {
    border: 1px solid $color-carbon;
    cursor: pointer;
  }
}

form {
  text-align: center;
  width: 100vw;
}

input {
  border: none;
  background-color: $color-dark;
  color: white;
  padding: 8px;
  width: 100%;
  font-size: 1.1rem;

  &:focus {
    outline: none;
  }
}

.input-full {
  align-items: center;
  display: flex;
  border-radius: 50px;
  border: 1px solid $color-carbon;
  margin: 0 auto;
  max-width: 600px;
  padding: 5px 10px;
  width: 80%;
}